<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vending Machine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <H1>Vending Machine</H1>
        <h3>• • •</h3>
    </div>
    <div class="container text-center">
        <form class="row g-3" action="./insert" method="post">
        {% csrf_token %}
            <fieldset class="container text-center">
                <legend>Coin slot:</legend>
                {% if error_message %}
                    <div class="alert alert-danger" id="inserted_quarters_alert">{{ error_message }}</div>
                {% endif %}
                <input type="text" name="inserted_quarters" id="number_of_quarters">
            </fieldset>
            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary" id="insert_quarters">Insert Quarter</button>
            </div>
        </form>
    </div>
    <div class="container text-center">
        <h1>Current Balance</h1>
        <h2>{{ quarters }} quarters</h2>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" onclick="location.href='./return'" id="coin_return">
                Return
            </button>
        </div>
    </div>
    <div class="container text-center">
        <h1>{{ show_money }}</h1>
        <h2>{{ display }}</h2>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='./dispense'" id="select_product">
                Select Product
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>